{% load static %}

<!DOCTYPE html>
<head>
  <title>Schedule</title>
  <link rel="stylesheet" href="{% static 'scheduler/style.css' %}">
</head>
<body>
  <h1>Schedule</h1>
  <p>Schedule: {{ self }}</p>
  <p>Main Union: {{ main_union }}</p>
  <p>User Unions:</p>
  <ul>
    {% for union in user_unions %}
    <li>{{ union }}</li>
    {% endfor %}
  </ul>
  
  <p>Start day for schedule: -{{ main_union.start_date }}-</p>
  <p>End day for schedule: -{{ main_union.end_date }}-</p>

  <form method="POST" action="add_availability">

    <table id="schedule">
      <thead>
        <tr id="days">
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <input type="text" name="owner" placeholder="Enter your name.">
    <input type="submit" value="Add Availability">
  </form>

  <script src="{% static 'scheduler/render_schedules.js' %}"></script>
</body>