{% load static %}

<!DOCTYPE html>
<head>
  <title>Schedule</title>
  <link rel="stylesheet" href="{% static 'scheduler/style.css' %}">
</head>
<body>
  <h1>Schedule Info:</h1>
  <p>Schedule: {{ self }}</p>
  <p>Main Union: {{ main_union }}</p>
  <p>User Unions:</p>
  <ul>
    {% for union in user_unions %}
    <li>{{ union }}</li>
    {% endfor %}
  </ul>
  
  <p>Start day for schedule: -{{ main_union.start_date }}-</p>
  <p>End day for schedule: -{{ main_union.end_date }}-</p>

  <h1>User Slots:</h1>
  <p>{{ user_slots }}</p>
  
  <table>
    <thead>
      <tr>
        {% for day in days %}
        <th scope="col">{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for datetime in hour_samples %}
      <tr>
        {% for day in days %}
        <td>{{ datetime.hour }}:{{ datetime.minute }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>